.guitarra{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
}
.contenido{
    padding: 1rem;
}

.contenido h3{
    font-size: 3rem;
    text-transform: uppercase;
}
.descripcion{
    display: -webkit-inline-box;
    -webkit-box-oriented:vertical;
    -webkit-line-clamp: 4;
      overflow: hidden;
}

.precio{
    color: var(--primary);
    font-size: 6rem;
    font-weight: 900;
    margin:0;
}